<mat-card class="example-card" style="background-color: lightgrey">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img src="https://logodix.com/logo/545297.png" style="width :40px"></div>
    <mat-card-title>{{product?.name}}</mat-card-title>
    <mat-card-subtitle>sell by {{product?.idSeller?.name}}</mat-card-subtitle>
  </mat-card-header><br/>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <img mat-card-image class="img" src="{{product?.photo}}" alt="image d'illustration"
             class="align-content-center align-items-center text-center justify-content-center">
      </div>
      <p class="price"> {{product?.price}} $ </p>
    </div>
    <!--
    <button style="width: 100%;" mat-raised-button color="primary" flex="33">Ajouter au panier</button>
    -->
  </mat-card-content>
</mat-card>
