<mat-card class="example-card" style="background-color: #FFFFFF">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img src="https://logodix.com/logo/545297.png" style="width :40px"></div><!--pp client-->
    <mat-card-title> Livraison Au 28 rue des chateau a Chicoutimi </mat-card-title>
    <mat-card-subtitle>Pour M.Rackso</mat-card-subtitle>
  </mat-card-header><br/>
  <mat-card-content>
    <div>
      <google-map></google-map>
    </div><br/>
    <mat-card class="example-card" style="background-color: #adadad">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><img src="../../../../favicon.ico"></div>
        <mat-card-title> Liste des articles</mat-card-title>
      </mat-card-header><br/>
      <app-list-card-livraison></app-list-card-livraison>
    </mat-card>
  </mat-card-content>
  <mat-card-actions  class="align-content-center align-items-center text-center justify-content-center">
    <button mat-raised-button color="primary">Valider la commande</button>
  </mat-card-actions>
</mat-card>
