<mat-card class="example-card" style="background-color: lightgrey">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img src="https://logodix.com/logo/545297.png" style="width :40px"></div>
    <mat-card-title>{{product?.name}}</mat-card-title>
    <mat-card-subtitle>sell by {{product?.idSeller?.name}}</mat-card-subtitle>
  </mat-card-header><br/>
  <mat-card-content>
    <div class="row">
      <div class="col-3" >
        <img mat-card-image src="{{product?.photo}}" alt="image d'illustration"
             style=" padding: 15px" class="align-content-center align-items-center text-center justify-content-center">
      </div>
      <div class="col-9">
        <p>Ingrédients :<br/>
          {{product?.description}}</p>
        <p>Valeurs nutritionnelles : <br/>
          {{product?.nutritionalValue}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions  class="align-content-center align-items-center text-center justify-content-center">
    <p> Prix : {{product?.price}} $ </p>
  </mat-card-actions>
</mat-card>
