<div class="row align-content-center align-items-center text-center justify-content-center" style="padding: 50px ">
  <img src="favicon.ico" style=" width:100px;  border-radius: 100%; border: 1px solid black">
</div>


<mat-tab-group mat-align-tabs="center">

   <mat-tab label="Connection"><br/>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <h1> please Login : </h1>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>username/mail</mat-label>
        <input matInput required [(ngModel)]="email" id="login"/>
      </mat-form-field>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput required [(ngModel)]="password" id="passwd" type="password"/>
      </mat-form-field>
    </div><br/><br/>
     <button mat-raised-button color="primary" type="submit" (click)="connection()">Connection</button><br/><br/>
     <button mat-raised-button color="primary">mot de passe oublié</button><br/><br/>
     <button routerLink="/livraison" mat-raised-button color="primary">Vous ètes livreurs ?</button>
  </mat-tab>

  <mat-tab label="Inscription"><br/>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <h4> Veuillez renseigner ces information pour la création d''un compte </h4>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput id="prenom"/>
      </mat-form-field>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput id="nom"/>
      </mat-form-field>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>mail</mat-label>
        <input matInput id="mail"/>
      </mat-form-field>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput id="passwd" type="password"/>
      </mat-form-field>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>numero de telephone</mat-label>
        <input matInput id="num"/>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Inscription</button>
  </mat-tab>

  <mat-tab label="Mot de passe oublié"><br/>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <h3> Veuillez indiquer votre mail s'il vous plait : </h3>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>mail</mat-label>
        <input matInput id="mail"/>
      </mat-form-field>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <button mat-raised-button color="primary">Envoyer un mail de récupération</button>
      <h3>Un mail vous sera envoyer si un compte est associée a cet adresse email</h3>
    </div>
  </mat-tab>
</mat-tab-group>
