


<mat-tab-group mat-align-tabs="center">

   <mat-tab label="Connection"><br/>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <h1> Please log in : </h1>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>username/mail</mat-label>
          <input matInput required [(ngModel)]="email" id="login"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
          <input matInput required [(ngModel)]="password" id="passwd" type="password"/>
        </mat-form-field>
      </div>
    </div>
     <div class="row align-content-center align-items-center text-center justify-content-center">
       <div class="col-12">
         <button mat-raised-button color="primary" type="submit" (click)="connection()">Connexion</button>
       </div>
       <div class="col-12">
         <a href="url">mot de passe oublié ?</a>
       </div>
       <!--
       <div class="col-12">
         <button routerLink="/livraison" mat-raised-button color="primary">Êtes-vous livreurs ?</button>
       </div>
       -->
     </div>
  </mat-tab>

  <mat-tab label="Inscription"><br/>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <h4> Veuillez renseigner ces information pour la création d'un compte </h4>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
        <input matInput [(ngModel)]="firstName" id="prenom"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="lastName" id="nom"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>mail</mat-label>
        <input matInput [(ngModel)]="newEmail" id="mail"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
        <input matInput [(ngModel)]="newPassword" id="passwd" type="password"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>numero de telephone</mat-label>
        <input matInput [(ngModel)]="phone" id="num"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-content-center align-items-center text-center justify-content-center">
      <div class="col-12">
        <button (click)="Inscription();" mat-raised-button color="primary">Inscription</button>

      </div>
    </div>
  </mat-tab>
  <!--
 <mat-tab label="Mot de passe oublié"><br/>
   <div class="row align-content-center align-items-center text-center justify-content-center">
     <h3> Veuillez indiquer votre mail s'il vous plait : </h3>
   </div>
   <div class="row align-content-center align-items-center text-center justify-content-center">
     <div class="col-12">
       <mat-form-field appearance="fill">
         <mat-label>mail</mat-label>
         <input matInput id="mail"/>
       </mat-form-field>
     </div>
   </div>
   <div class="row align-content-center align-items-center text-center justify-content-center">
     <div class="col-12">
       <button mat-raised-button color="primary">récupérer</button>
     </div>
     <h3>Un mail vous sera envoyer si un compte est associée a cet adresse email</h3>
   </div>
 </mat-tab>-->
</mat-tab-group>
