<mat-tab-group dynamicHeight mat-align-tabs="center" style="padding: 10px">
  <mat-tab label="Mon panier"><br/>
    <h1>Liste des articles</h1>
    <app-list-card-panier></app-list-card-panier>

    <button mat-raised-button color="primary">Commander</button>

  </mat-tab>


  <mat-tab label="Profil" ><br/>  <h1>Profil</h1> <br/>

    <img src="https://cdn.vox-cdn.com/thumbor/yyConGdwpTNyIBv-hN5Y1xQ2UPs=/72x0:779x471/1400x1400/filters:focal(72x0:779x471):format(png)/cdn.vox-cdn.com/assets/1279916/rickroll2.png" alt="Avatar" style="width:100px;  border-radius: 50%; border: 1px solid black">

    <div class="row" style="padding-top: 50px">
      <div class="col-6" style="text-align: left">

        <p>Nom Prenom :</p><br/>
        <p>Adresse Mail :</p><br/>
        <p>Numero de telephone :</p><br/>
        <p>Membre depuis :</p><br/>


      </div>
      <div class="col-5" style="text-align: right">
        <br/>
        <p>Florian PROFI</p><br/>
        <p>flo.p@gmail.com</p><br/>
        <p>(418) 514 - 5241</p><br/>
        <p>2021-08-15</p><br/>
      </div>
    </div>
    <button mat-raised-button color="primary">Changer de mot de passe</button>
  </mat-tab>

  <mat-tab label="Ancienne commande"><br/>
    <app-list-card-history></app-list-card-history>
  </mat-tab>
</mat-tab-group>
