<mat-toolbar color="primary">
  <div mat-card-avatar class="example-header-image"><img src="../../../../favicon.ico"></div>
  <span>French buy - Livraison</span>
</mat-toolbar>

<div class="row">
  <div class="col-4">
    <div class="align-items-center justify-content-center align-content-center text-center">
      <app-livraison-connection></app-livraison-connection>
    </div>
  </div>
  <div class="col-8">
    <app-livraison-home-disconnected></app-livraison-home-disconnected>
  </div>
</div>
